<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Administrare produse</title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <form method="post" class="update_produs" action="/modificare_produs"> 

                            <p>
                                <label style="display:none">
                                    Id: <input type="text" name="id" value="<%- prod.id%>">
                                </label>
                            </p>

                            <p>
                                <label>
                                    Nume: <input type="text" name="nume" value="<%- prod.nume %>">
                                </label>
                            </p>
                            <p>
                                <label>
                                    Categorie: 
                                    <select name="categorie"> 
                                        <% for (let categ of locals.categorii_produse){ %>
                                            <option value="<%- categ.unnest %>" <%-categ.unnest==prod.categorie? "selected":""%>> <%- categ.unnest %> </option>
                                        <% } %>
                                    </select>
                                </label>
                            </p>

                            <p>
                                <label>
                                    Descriere: <input type="text" name="descriere" value="<%- prod.descriere%>">
                                </label>
                            </p>

                            <p>
                                <label>
                                        Pret: <input type="number" name="pret" value="<%- prod.pret%>">
                                </label>
                            </p>

                            <p>
                                <label>
                                    Pagini: <input type="number" name="pagini" value="<%- prod.numar_pagini%>">
                                </label>
                            </p>

                            <p>
                                <label>
                                    Autor: <input type="text" name="autor" value="<%- prod.autor%>">
                                </label>
                            </p>

                            <p>
                                <label>
                                    Taguri: <input type="text" name="taguri" value="<%- prod.taguri%>">
                                </label>
                            </p>

                            <p>
                                <label>
                                    In stoc: <input type="checkbox" name="in_stoc" <%- prod.in_stoc==true?'checked':''%> >
                                </label>
                            </p>


                            <p>
                                <label>
                                    Subcategorie: 
                                    <select name="subcategorie"> 
                                        <% for (let categ of locals.categorii_varsta){ %>
                                            <option value="<%- categ.unnest %>" <%-categ.unnest==prod.varsta_recomandata? "selected":"" %>> <%- categ.unnest %> </option>
                                        <% } %>
                                    </select>
                                </label>
                            </p>

                            <p>
                                <label>
                                    Imagine: <input type="text" name="imagine" value="<%- prod.imagine%>">
                                </label>
                            </p>

                            <input type="submit" value="Modifica">
                        </form>
                        <form method="post" class="stergere_produs" action="/stergere_produs">
                            <label style="display:none">
                                Id: <input type="text" name="id" value="<%- prod.id%>">
                            </label>
                            <input type="submit" value="Sterge">
                        </form>




                    </article>
                    <br>
                    <br>
                    <br>
                    <br>
                <% }%>

                <form method="post" class="adaugare_produs" action="/adaugare_produs"> 
                    <p> Adauga un produs nou:</p>
                    <p>
                        <label>
                            Nume: <input type="text" name="nume">
                        </label>
                    </p>
                    <p>
                        <label>
                            Categorie: 
                            <select name="categorie"> 
                                <% for (let categ of locals.categorii_produse){ %>
                                    <option value="<%- categ.unnest %>" > <%- categ.unnest %> </option>
                                <% } %>
                            </select>
                        </label>
                    </p>

                    <p>
                        <label>
                            Descriere: <input type="text" name="descriere">
                        </label>
                    </p>

                    <p>
                        <label>
                                Pret: <input type="number" name="pret">
                        </label>
                    </p>

                    <p>
                        <label>
                            Pagini: <input type="number" name="pagini">
                        </label>
                    </p>

                    <p>
                        <label>
                            Autor: <input type="text" name="autor" >
                        </label>
                    </p>

                    <p>
                        <label>
                            Taguri: <input type="text" name="taguri">
                        </label>
                    </p>

                    <p>
                        <label>
                            In stoc: <input type="checkbox" name="in_stoc" >
                        </label>
                    </p>


                    <p>
                        <label>
                            Subcategorie: 
                            <select name="subcategorie"> 
                                <% for (let categ of locals.categorii_varsta){ %>
                                    <option value="<%- categ.unnest %>" > <%- categ.unnest %> </option>
                                <% } %>
                            </select>
                        </label>
                    </p>

                    <p>
                        <label>
                            Imagine: <input type="text" name="imagine">
                        </label>
                    </p>

                    <input type="submit" value="Adauga">
                </form>

            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>