<!-- The header-->
<script>
    var tema=localStorage.getItem("tema");
    if(tema){
        document.body.classList.add("dark");
    }
    else{
        document.body.classList.remove("dark");
    }

</script>


<header>
        <div id="Top"><br> </div>
        <h1> Librăria Libdivid</h1>


        <nav>

            <div id="hamburger">
                <label for="menu-toggle">
                    <span class="fas fa-bars"></span>
                </label>
            </div>

            <input id="menu-toggle" type="checkbox" />

            <ul class="meniu">
                <!-- Home option-->
                <li class="home">
                    <!-- Home icon, enabled on medium page size-->
                    <a href="/index">
                        <span class="fas fa-home"> </span>
                    </a>

                    <!-- Enabled on maximum page size-->
                    <a href="/index"> Acasa </a>
                </li>

                <% if(locals.utilizator) { %>
                    <li> 
                        <div> <%- locals.utilizator.username %></div>
                        <ul>
                            <li> <a href="/profil"> Profil</a></li>
                            <li> <a href="/logout"> Logout</a></li>
                        </ul>

                    </li>

                <% } %>

                <!-- About link-->
                <li>
                    <a href="/despre"> Despre</a>
                </li>

                <li>
                    <a href="/inregistrare"> Inregistrare</a>
                </li>

                <% if(locals.utilizator && locals.utilizator.rol=="admin"){ %>
                    <li>
                        <a href="/useri">Useri </a> 
                    </li>
                <% } %>


                <!-- Products link-->
                <li>
                    <a href="/produse"> Produse</a>
                    <ul>
                        <% for (let opt of locals.categorii_produse) { %>
                            <li>
                                <a href="/produse/categorie/<%- opt.unnest %>"> <%- opt.unnest %> </a>
                            </li>
                        <% } %>

                        <% if(locals.utilizator && locals.utilizator.rol=="admin"){ %>
                                <li>
                                    <a href="/administrare">Administrare</a> 
                                </li>
                        <% } %>


                    </ul>
                </li>


                <li>
                    <div> Meniu</div>

                    <ul>
                        <li>
                            <a href="/index#Salut"> Bine ati venit!</a>
                        </li>
                        <li>
                            <a href="/index#Lista"> Cele mai vandute carti</a>
                        </li>

                        <li>
                            <a href="/index#Citat"> Citatul zilei</a>
                        </li>

                        <li>
                            <a href="/index#Ecranizari"> Ecranizari</a>
                        </li>

                        <li>
                            <a href="/index#Electronice"> Carti electronice</a>
                        </li>

                        <li>
                            <a href="/index#Contact"> Contact</a>
                        </li>
                    </ul>

                </li>

            </ul>

        </nav>
        <% if(!locals.utilizator) {  %>
        <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
            <p>
                <label>
                    Username: <input type="text" name="username" id="inp-username" value="" required pattern="[A-Za-z0-9]+">
                </label>
            </p>

            <p>
                <label>
                    Parola: <input id="parl" type="password" required  name="parola" value="">
                </label>
            </p>
            <p> <input type="submit" value="Logare"> </p>
        </form>
        <% } else {%>
                <img src="poze_uploadate/<%-locals.utilizator.username%>/<%-locals.utilizator.imagine%>" alt="Nicio imagine" width="100px" height="100px">
        <% } %>
        <p style="color:red"; font-weight:bold:><%- locals.mesajLogin %> </p>

       
        <br>
        <div id="Banner">
            <h2> Acesta este un proiect scolar</h2>
        </div>

        <div id="Watermark"> 
            <p> Visan</p>
            <p> Alexandru</p>
        </div>

    </header>
